env/
*.d
*.so
*.pyc
*.root*
*.png
*.eps
.giosave*
*.pybundle
*.tar.gz
*.tar.bz2
.asetup.save
repos/pip
*.egg-info/
minty
/pwa
env
*env
*junk*
most_recent
talks
/run/bundle_tag
.__afs*
/DataQuality/
/DiPhotonResonance
/InstallArea/
/PAU
/bertrand_code/
/ext
*~
/tmp
/test
/results
/datasets
/run/need_reap
